<div class="container">
  <h2 class="container">haz click en los botones</h2>
  <div class="container-fluid">
    {{> botones }}
  </div>
  <div class="container-fluid">
    {{> spiner }}
  </div>
</div>